<html>
<head>
  <title>Dashboard</title>
  <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
  <script src="/assets/anslist.js"></script>
  <!DOCTYPE html>
<html>
<head>

<link href="/assets/Content/bootstrap.css" rel="stylesheet" />
<script src="/assets/Scripts/jquery-1.9.1.js"></script>
<script src="/assets/Scripts/bootstrap.js"></script>

    <!-- Bootstrap core CSS -->
    <link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">

	<!-- Font Awesome -->
	<link href="/assets/css/font-awesome.min.css" rel="stylesheet">

	<!-- Pace -->
	<link href="/assets/css/pace.css" rel="stylesheet">

	<!-- Chosen -->
	<link href="/assets/css/chosen/chosen.min.css" rel="stylesheet">

	<!-- Datepicker -->
	<link href="/assets/css/datepicker.css" rel="stylesheet">

	<!-- Timepicker -->
	<link href="/assets/css/bootstrap-timepicker.css" rel="stylesheet">

	<!-- Slider -->
	<link href="/assets/css/slider.css" rel="stylesheet">

	<!-- Tag input -->
	<link href="/assets/css/jquery.tagsinput.css" rel="stylesheet">

	<!-- WYSIHTML5 -->
	<link href="/assets/css/bootstrap-wysihtml5.css" rel="stylesheet">

	<!-- Dropzone -->
	<link href="/assets/css/dropzone/dropzone.css" rel="stylesheet">

	<!-- Endless -->
	<link href="/assets/css/endless.min.css" rel="stylesheet">
	<link href="/assets/css/endless-skin.css" rel="stylesheet">



	<link href="/assets/fonts/fontawesome-webfontba72.ttf" rel="stylesheet" />

	<script src="/assets/js/wysihtml5-0.3.0.min.js"></script>
	<script src="/assets/js/uncompressed/bootstrap-wysihtml5.js"></script>
	<style>
	.x
{
	font-size:16px;
}
.f
{
	background-color:#D7CCC8;
}

</style>
</head>
<body>
   <!-- <h1>Answers..</h1>
   <form>
     <input type="text" id="aname" placeholder="Enter Answer" required />
     <textarea id="adetail" placeholder="Enter Answer Detail" ></textarea>
     <button id="btnsubmit" type="submit"> Add Your Answer</button>
   </form> -->
<div class="row">
  <div class="container">
    <div class="col-mg-8">

          <div class="panel">
									<div class="panel-body">
				                <div class="media">
											<a class="pull-left" href="#">
											<img src="../" class="img-rounded" style="height:50px; width:50px;">
											</a>
											<div class="media-heading">
											<strong class="primary-font" >hdjkndkjsn</strong>
												<br>
											</div>
											<div class="media-body x"><a href="que_des.php?qid=''">hfwijh</a>
											</div>
										</div><br>
											<a href="que_view.php?qid=''"><span class="glyphicon glyphicon-thumbs-up fa-2x" aria-hidden="true"></span>&nbsp;jkwdnwj</a></div></div>';
    </div>
  </div>
</div>

  <div class="row">
    <div class="container">
    <div class="col-lg-9">
<form>
   <ul class="wysihtml5-toolbar"><li class="dropdown"><a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#"><i class="glyphicon glyphicon-font"></i>&nbsp;<span class="current-font">Normal text</span>&nbsp;<b class="caret"></b></a><ul class="dropdown-menu"><li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="div" tabindex="-1" href="javascript:;" unselectable="on">Normal text</a></li><li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h1" tabindex="-1" href="javascript:;" unselectable="on">Heading 1</a></li><li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h2" tabindex="-1" href="javascript:;" unselectable="on">Heading 2</a></li><li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h3" tabindex="-1" href="javascript:;" unselectable="on">Heading 3</a></li><li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h4" href="javascript:;" unselectable="on">Heading 4</a></li><li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h5" href="javascript:;" unselectable="on">Heading 5</a></li><li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h6" href="javascript:;" unselectable="on">Heading 6</a></li></ul></li><li><div class="btn-group"><a class="btn btn-default" data-wysihtml5-command="bold" title="CTRL+B" tabindex="-1" href="javascript:;" unselectable="on"><i class="glyphicon glyphicon-bold"></i></a><a class="btn btn-default" data-wysihtml5-command="italic" title="CTRL+I" tabindex="-1" href="javascript:;" unselectable="on"><i class="glyphicon glyphicon-italic"></i></a><a class="btn btn-default" data-wysihtml5-command="underline" title="CTRL+U" tabindex="-1" href="javascript:;" unselectable="on"><i class="glyphicon glyphicon-text-color"></i></a></div></li><li><div class="btn-group"><a class="btn btn-default" data-wysihtml5-command="insertUnorderedList" title="Unordered list" tabindex="-1" href="javascript:;" unselectable="on"><i class="glyphicon glyphicon-list"></i></a><a class="btn btn-default" data-wysihtml5-command="insertOrderedList" title="Ordered list" tabindex="-1" href="javascript:;" unselectable="on"><i class="glyphicon glyphicon-menu-hamburger"></i></a><a class="btn btn-default" data-wysihtml5-command="Outdent" title="Outdent" tabindex="-1" href="javascript:;" unselectable="on"><i class="glyphicon glyphicon-indent-right"></i></a><a class="btn btn-default" data-wysihtml5-command="Indent" title="Indent" tabindex="-1" href="javascript:;" unselectable="on"><i class="glyphicon glyphicon-indent-left"></i></a></div></li></ul>

<textarea class="form-control" rows="6" name="txtans1" id="txtans1" placeholder="Enter your text ...">
</textarea>


<iframe class="wysihtml5-sandbox" allowtransparency="true" frameborder="0" width="0" height="0" marginwidth="0" marginheight="0" style="border-collapse: separate; border: 1px solid rgb(204, 204, 204); clear: none; display: none; float: none; margin: 0px; outline: rgb(85, 85, 85) none 0px; outline-offset: 0px; padding: 6px 12px; z-index: auto; vertical-align: baseline; text-align: start; box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset; border-radius: 4px; width: 550.563px; height: 116px; top: auto; left: auto; right: auto; bottom: auto; background-color: rgb(255, 255, 255);"></iframe>
</form>
</div>
</div>
</div>
</body>
</html>
