<html>
<head>
  <title>Dashboard</title>
  <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
  <script src="/assets/quelist.js"></script>
</head>
<body>
   <h1>Questions..</h1>
   <form>
     <input type="text" id="qname" placeholder="Enter Question" required />
     <textarea id="qdetail" placeholder="Enter Question Detail" ></textarea>
     <button id="btnsubmit" type="submit"> Add</button>
   </form>
</body>
</html>
